.header{
  padding: 10px;
  text-align: center;
  background: 	rgb(85,130,198);
  color: white;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
}

.link{
  display:flex;
  justify-content: space-between;
  padding: 10;
  background: rgb(85,130,198);
  text-decoration: none;

}

.head{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.log{
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  color: black;
  font-weight: bold;
}


.cat{
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  color: black;
  font-weight: bold;
}


.add{
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  color: black;
  font-weight: bold;
}